/* Aleo 作为英文首选字体，方正新书宋作为中文首选字体
 * Zen Old 明朝作为日语备用字体，Chiron 宋体作为繁体中文备用字体
 * Noto Serif 作为通用的、最后的备用字体
 * Fira Code 作为首选代码字体
 */

:root {
    --fontkit-text-font: "Aleo", "FZNewShuSong",
        "Zen Old Mincho", "Chiron Sung HK", "Noto Serif SC", serif;
    --fontkit-code-font: "Fira Code",
        "Cascadia Code", "Consolas", "Inconsolata",
        "Menlo", "Monaco", "SF Mono", "Ubuntu Mono",
        "DejaVu Sans Mono", "Courier New", monospace;
    --fontkit-super-title: "lobster", "zhi-mang-xing";
    --fontkit-cjk-cao: "liu-jian-mao-cao";    /* 草书个性字体 */
    --fontkit-cjk-kai: "ma-shan-zheng";       /* 楷体个性字体 */
    --fontkit-cjk-xing: "zhi-mang-xing";      /* 行书个性字体 */
    --fontkit-handwrite: "playwrite-cc-gb-s"; /* 手写个性字体 */
}
