name: Publish Release and NPM

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release (e.g., 1.0.1)'
        required: true

jobs:
  prep-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      version: ${{ github.event.inputs.version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Update Version
        run: |
          npm version ${{ github.event.inputs.version }} --no-git-tag-version
          
      - name: Build Project
        run: npm run build

      - name: Archive production artifacts
        run: |
          zip -r fontkit-dist.zip dist/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.event.inputs.version }}
          name: Release v${{ github.event.inputs.version }}
          files: fontkit-dist.zip
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit version bump
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add package.json package-lock.json
          git commit -m "chore: bump version to ${{ github.event.inputs.version }}"
          git push origin HEAD:${{ github.ref }}

  publish:
    needs: prep-and-release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - registry: 'https://registry.npmjs.org'
            token_name: 'NPM_TOKEN'
          - registry: 'https://npm.pkg.github.com'
            token_name: 'GITHUB_TOKEN'
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          registry-url: ${{ matrix.registry }}

      - name: Install dependencies
        run: npm install

      - name: Update Version
        run: npm version ${{ github.event.inputs.version }} --no-git-tag-version

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets[matrix.token_name] }}
